---
import Navigation from '../components/Navigation.astro'
import Hamburguer from '../components/Hamburguer.astro'
import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <nav>
    <Hamburguer />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
